//
//  ___FILENAME___
//  ___PACKAGENAME___
//
//  Created by ___FULLUSERNAME___ on ___DATE___.
//___COPYRIGHT___
//

CODE_SIGN_IDENTITY[sdk=iphoneos*] =
LD_DEPENDENCY_INFO_FILE =
EXECUTABLE_EXTENSION = so
EXECUTABLE_PREFIX = lib
MACOSX_DEPLOYMENT_TARGET=
CLANG_ENABLE_MODULES = NO

WRAPPER_EXTENSION = app

SDKROOT = macosx0.0
MACH_O_TYPE = mh_dylib //change Mach-O Type to dynamic library

BASE_CFLAGS = -DANDROID -fobjc-nonfragile-abi -fblocks
BASE_LDFLAGS = -shared -Wl,-z,defs -landroid -lobjc -ldispatch -lgnustep-base -fconstant-class=NSConstantString -lm -llog -lz

OTHER_CFLAGS = $(inherited) $(BASE_CFLAGS)
OTHER_LDFLAGS = $(inherited) $(BASE_LDFLAGS)
